* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.904);
}

main {
    padding: 20px 20px;
    width: 400px;
    height: 243px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(182, 218, 218);
    margin: 200px auto;
    box-shadow: 0 0 70px 10px rgba(68, 186, 202, 0.589);

    >h1 {
        width: 100%;
        height: 40px;
        text-transform: uppercase;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }

    >div {
        width: 360px;
        height: 50px;
        display: flex;

        >h3 {
            width: 300px;
            height: 50px;
            /* background-color: white; */
            background-image: url(../img/img1.jpg);
            overflow: hidden;
            font-size: 40px;
            color: rgba(148, 141, 141, 0.822);
            letter-spacing: 20px;
            text-indent: 10px;
            font-style: italic;

        }

        >button {
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: 1px solid rgb(113, 113, 226);
            cursor: pointer;

            >span {
                background-color: rgb(113, 113, 226);
                width: 100%;
                padding: 13px 0;

                &:hover {
                    background-color: rgba(15, 5, 75, 0.925);
                    color: white;

                }

            }
        }
    }

    >input {
        width: 300px;
        height: 50px;
        background-color: white;
        padding: 10px;
        font-size: 18px;
        border: none;
    }

    >button {
        width: 60px;
        height: 50px;
        font-size: 18px;
        background-color: rgb(113, 113, 226);
        border: 1px solid rgb(113, 113, 226);
        cursor: pointer;

        &:hover {
            background-color: rgba(15, 5, 75, 0.925);
            color: white;
        }

    }

}